<div class="block">
    <h1>Настройки</h1>
    <form id="settings-form" method="post" action="?module=settings&action=save">
        <div class="fields form">
            <div class="field-group">
                <div class="field">
                    <div class="name">
                        Статус
                    </div>
                    <div class="value no-shift s-ibutton-checkbox">
                        <input type="hidden" name="settings[status]" value="0">
                        <input type="checkbox" id="ibutton-status" name="settings[status]" value="1"{if $settings.status|default:''} checked{/if}>
                    </div>
                </div>
            </div>

            <div class="field-group" {if !$settings.status|default:''} style="display:none"{/if}>
                <h3 class="grey">Оптимизация CSS</h3>
                <div class="field">
                    <div class="name">Минимизация</div>
                    <div class="value no-shift s-ibutton-checkbox">
                        <input type="hidden" name="settings[css_minify]" value="0">
                        <input class="ibutton" type="checkbox" name="settings[css_minify]" value="1"{if $settings.css_minify|default:''} checked{/if} >
                        <p class="hint">Сжатие CSS-файлов путем приведения кода к более компактному виду: удаление лишних строк, пробелов, использование сокращенных выражений, удаление пустых правил и пр.</p>
                    </div>
                </div>

                <div class="field">
                    <div class="name">GZip-Сжатие</div>
                    <div class="value no-shift s-ibutton-checkbox">
                        <input type="hidden" name="settings[css_gzip]" value="0">
                        <input class="ibutton" type="checkbox" name="settings[css_gzip]" value="1"{if $settings.css_gzip|default:''} checked{/if} >
                        <p class="hint">Использовать программную функцию сжатия gzip</p>
                    </div>
                </div>
                <div class="field css-gzip-level"{if !$settings.css_gzip|default:''} style="display:none"{/if}>
                    <div class="name">Уровень сжатия</div>
                    <div class="value">
                        <input class="short numerical" type="number" min="0" max="9" name="settings[css_gzip_level]" value="{$settings.css_gzip_level|default:'0'|escape}">
                        <p class="hint">
                            0 - без сжатия, 9 - максимальное сжатие. 
                        </p>
                    </div>
                </div>


                <div class="field">
                    <div class="name">Загрузка</div>
                    <div class="value no-shift s-ibutton-checkbox">
                        <input type="hidden" name="settings[css_download_remote_files]" value="0">
                        <input class="ibutton" type="checkbox" name="settings[css_download_remote_files]" value="1"{if $settings.css_download_remote_files|default:''} checked{/if} >
                        <p class="hint">Загрузка CSS-файлов со сторонних сайтов на локальный сервер и их последующая минимизация</p>
                    </div>
                </div>
                <div class="field css-update-time-remote-files"{if !$settings.css_download_remote_files|default:''} style="display:none"{/if}>
                    <div class="name">Период обновления</div>
                    <div class="value">
                        <input class="short numerical" type="number" min="0" name="settings[css_update_time_remote_files]" value="{$settings.css_update_time_remote_files|default:''|escape}"> сек
                        <p class="hint">
                            Время в секундах, через которое CSS-файлов со сторонних сайтов будут загружаться повторно тем самым их актуальность будет обновляться<br/>
                            <strong>3600</strong> сек = 1 часа; <strong>86400</strong> сек = 24 часа; <strong>2592000</strong> сек = 30 дней
                        </p>
                    </div>
                </div>

                <div class="field">
                    <div class="name">Обработка тегов &lt;style&gt;</div>
                    <div class="value no-shift s-ibutton-checkbox">
                        <input type="hidden" name="settings[css_style]" value="0">
                        <input class="ibutton" type="checkbox" name="settings[css_style]" value="1"{if $settings.css_style|default:''} checked{/if} >
                        <p class="hint">
                            Теги &lt;style&gt; содержат CSS-стили и размещаются непосредственно в HTML-коде страницы, а не в отдельных CSS-файлах.<br/>
                            После обработки такие стили будут помещены в отдельные CSS-файлы, к которым в дальнейшем будут применены, в соответствие с настройками, методы минимизации и сжатия 
                        </p>
                    </div>
                </div>

                <div class="field">
                    <div class="name">Объединение</div>
                    <div class="value no-shift s-ibutton-checkbox">
                        <input type="hidden" name="settings[css_merge]" value="0">
                        <input class="ibutton" type="checkbox" name="settings[css_merge]" value="1"{if $settings.css_merge|default:''} checked{/if} >
                        <p class="hint">Объединение всех CSS-файлов в один</p>
                    </div>
                </div>



            </div>

            <div class="field-group"{if !$settings.status|default:''} style="display:none"{/if}>
                <div class="field">
                    <div class="value submit">
                        <input type="submit" class="button green" value="Сохранить">
                        <span class="response"></span>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>